services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/iata

  frontend:
    build: ./frontend/report-app
    ports:
      - "3000:80"

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
